/* 

Selectores 

Son patrones que permiten seleccionar y aplicar estilos a elementos de na pagina web.

tipos de selectores
   1. Selectores Basìcos 
   -Selector Universal
   -Selecores de tipo

   2. Selector de clase

   Seleccionan los elementos que tiene una clase especifica. 

   se usa la "notacion" de punto (.) antes del nombre de la clase
   
   .nombreClase {
   propiedad: valor
   }

   3. Selectores de ID

   Seleccionan un elemento único con identificador especifico. 
   
   Se usa el la "notación" de numeral (#) antes del nombre del id.

   #nombreId {propiedad: valor;
   }

   4. Selectores Combinados 
      -Descendientes

      Seleccionan elementos dentro de otros elementos.

      elemento elementoInterno {propiedad: valor;}
      -Hijo directo

      Selecciona elementos que son hijos de un elemento padre.

      elemento > elementosHijos {
        propiedades y el valor;
        }

      .Elemento adjacente

      Selecciona el primer elemento inmedianamente despues de otro, (su hermano inmediato o en ingles Siblings)

      Elemento + elementoAdjacente {
      propiedad: valor;
      }

      -Hermano general 

      Selecciona todos los elementos hermanos despues de un elemento.

      elemento ~ elementoHermanos {
      propieda: valor;
      }

   5.Selectores de atributos 
     -Atributo

     Selecciona elementos segun el atributo que indiquemos. Sin importar su valor que indiquemos

     elemento[atributo] {
     propiedad: valor;
     }

     -Atributo Valor 

     Selecciona elementos según el atributo y el valor que indquemos.

     elemento[atributo=valor] {proiedad: valor;}

   6. Selector Avanzado 
     -Pseudo-Clases

     Seleccionamos elementos en un estado en particular.
       
       elemento:pseudoclases{
       propiedad: valor;
       }

     -Pseudo-elementos

     Seleccionan partes especificas de n elemento en html 
       
       elemento::pseudoelemento {
        propiedad: valor;
        }


*/

/* 

 selectores Bàsicos
*/

/* universal -> Seleccionar todos los elementos de un document */

*{ 
/* border: 2px solid red;  */
/* Resset Básico */
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Selectores de Tipo -> Seleccionan un tipo de elemento en html */

body {
  background-color: mediumorchid;
}

h1 {
  color:aliceblue;
  font-size: 24px;
}

p{
  font-size: 24px;
}

header{
  background-color: mediumaquamarine;
}

/* Selectores de clase */

.content {
  background-color: plum;
  padding: 48px;
}

.hero{
  background-color: pink;
  padding: 24px;
}

.hero-title {
  background-color:lightskyblue;
  padding: 16px;
  color:indigo;
  text-align: center;
}

/* Selector de Id */

#about-title {
  color: darkmagenta;
  font-size: 72px;
}

/* Combinado - Elementos Decendientes */

aside section {
  background-color:turquoise;
  padding: 48px;
}
.aside-section h3 {
  color: white;
  text-align: right;
  padding: 24px;
  background-color:mediumpurple;
}

/* Combinados - Hijos Directos */

ul > li {
  background-color:powderblue;
}

.lista> li{
  font-size: 8px;
  color: midnightblue;
}

/* Combinamos - Elemento Adjacente */

h3 + ul {
  list-style:none;
}

.bro + li {
  background-color:cornflowerblue;
}

/* Combinados - Hermanos Generale */

.bro + li ~ li {
  background-color:lightseagreen;
}
.tercero ~ li {
  color: darkslategrey;
  font-size: 40px;
}

/* Selectores de Atributo */
a[href] {
  display: block;
  text-decoration: none;
  color:navy;
}

/* Selectores de Atributo con Valor */
a[href="https://www.instagram.com/"] {
  font-size: 48px;
  color:cornflowerblue;
}

/* Pseudo clases */
a:hover {
  background-color:rebeccapurple;
  color: white;
  text-decoration: underline;
}

a:focus {
  border: 10px solid red;
}

/* Pseudo-elementos */

a::after{
  content: "🔮";
}

a::before{
  content: "Este es un enlace hacia: ";
}